body{
  background-image: url(assets/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100wh;
  align-items: center;
}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.9);
}

.container1{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
.container2{
  backdrop-filter: blur(3px);
  width: 100vw;
  padding: 30px 0;
}

h1{
  font-size: 5rem;
  color: white;
}
button{
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-btn{
  background-color: hsl(125, 53%, 60%);
}
.add-btn:hover{
  background-color: hsl(125, 53%, 50%);
}
.del-btn{
  background-color: hsl(10, 68%, 60%);
}
.del-btn:hover{
  background-color: hsl(10, 68%, 50%);
}
.mv-btn{
  background-color: hsl(207, 90%, 64%);
}
.mv-btn:hover{
  background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol {
  padding: 0;
}
li {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  background-color: hsl(0, 0%, 97%);
  margin: 10px 20px 20px 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;  
}
.del-btn, .mv-btn{
  padding: 8px  15px;
  font-size: 1.8rem;
  margin-left: 15px;
}
